* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
	text-decoration: none;
	color: #000000;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
  padding:5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.emily {
  align-self: center;
  max-width: 30%;
  min-width: 25%;
  padding: 1.5rem;
  border: 2px solid black;
}

.flex-nav {
  flex-basis: 50%;
}

.flex-nav ul{
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin: 0px;
}

.flex-nav li {
	display: inline-block;
	font-size: 3vw;
  flex: 1 1 100%;
  text-align: center;
}

.flex-nav a:hover {
	color: #F9690E;
}

@media only screen and (max-width: 750px) {
  .wrapper {
    width: 100vw;
  }

  .emily {
    order: 2;
    flex-basis: 100%;
    margin-top: 8vh;
  }

  .flex-nav {
    order: 1;
    flex-basis: 100%;
  }
}

